.fondo{
	background: url(../img/Fondo.png);
	background-repeat: no-repeat;
	position: sticky;
}
header .panel{
    position: fixed;
    z-index: 3;
	top: 0;
    background-color: rgb(255, 255, 255);
	width: 68%;
}
.panel2{
	width: 1280px;
	height: 163px;
}
.header{
	padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.80);
}
.linea{
	border: 1px solid black;
}
.img-align{
	padding-left: 50%;
}
.enlaces {
  color: #c20f1a;
  transition: background-color .5s;
}
.combo-png{
	width: 120%;
}
.banner-pago{
	width: 50%;
}
.enlaces:hover {
  color: #022a74;
}
.borde{
	border: 1px solid black;
}
.icons{
	width: 50%;
}
.img-responsive{
	max-width: 100%;
	max-height: 100%;
}
.circulo-color{
	border-radius: 50%;
	background-color: red;
	border:1px solid black;
}
.pasos{
	width: 60%;
}
.boton{
	/*margin-top: 14%;*/
	width: 50%;
	height: 50%;
}
.guia{
	width: 200px;
	height: 200px;
	display: inline-block;
}

